@font-face {
	font-family: 'aaargh';
	src: url('https://www.shortcord.com/PrettySteam/fonts/aaargh-webfont.eot');
	src: url('https://www.shortcord.com/PrettySteam/fonts/aaargh-webfont.eot?#iefix') format('embedded-opentype'),
		url('https://www.shortcord.com/PrettySteam/fonts/aaargh-webfont.woff2') format('woff2'),
		url('https://www.shortcord.com/PrettySteam/fonts/aaargh-webfont.woff') format('woff'),
		url('https://www.shortcord.com/PrettySteam/fonts/aaargh-webfont.ttf') format('truetype'),
	font-weight: normal;
	font-style: normal;
}

 @font-face {
	font-family: 'nexa_lightregular';
	src: url('https://www.shortcord.com/PrettySteam/fonts/nexa_light-webfont.eot');
	src: url('https://www.shortcord.com/PrettySteam/fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
		url('https://www.shortcord.com/PrettySteam/fonts/nexa_light-webfont.woff2') format('woff2'),
		url('https://www.shortcord.com/PrettySteam/fonts/nexa_light-webfont.woff') format('woff'),
		url('https://www.shortcord.com/PrettySteam/fonts/nexa_light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nexa_boldregular';
	src: url('https://www.shortcord.com/PrettySteam/fonts/nexa_bold-webfont.eot');
	src: url('https://www.shortcord.com/PrettySteam/fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('https://www.shortcord.com/PrettySteam/fonts/nexa_bold-webfont.woff2') format('woff2'),
		url('https://www.shortcord.com/PrettySteam/fonts/nexa_bold-webfont.woff') format('woff'),
		url('https://www.shortcord.com/PrettySteam/fonts/nexa_bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}